{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in todo_items %}
          <tr class={{ item.displayClass }}>
            <th scope="row">{{ item.title }}</th>
            <td>{{ item.status }}</td>
            <td>
              <form action="/move/{{ item.id }}">
                <input class="btn btn-primary" type="submit" name="move" value="Move">
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <form method="post">
      <p>Title: <input type="text" id='title' name='title' required></p>
      <div>
        <input type="submit" name="submit" value="Submit">
      </div>
    </form>
  </div>
{% endblock %}