{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <h4>Not Started</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for item in view_model.notStartedItems %}
          <tr name="not-started-item" id="{{ item.id }}" class={{ item.displayClass }}>
            <th scope="row">{{ item.title }}</th>
            <td>
              <form action="/move/{{ item.id }}">
                <input id="move-button-{{ item.id }}" class="btn btn-primary" type="submit" name="move" value="Move">
              </form>
            </td>
            <td>
              <form action="/delete/{{ item.id }}">
                <input id="delete-button-{{ item.id }}" class="btn btn-danger" type="submit" name="delete" value="Delete">
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <h4>Being Done</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for item in view_model.beingDoneItems %}
          <tr name="being-done-item" id="{{ item.id }}" class={{ item.displayClass }}>
            <th scope="row">{{ item.title }}</th>
            <td>
              <form action="/move/{{ item.id }}">
                <input id="move-button-{{ item.id }}" class="btn btn-primary" type="submit" name="move" value="Move">
              </form>
            </td>
            <td>
              <form action="/delete/{{ item.id }}">
                <input id="delete-button-{{ item.id }}" class="btn btn-danger" type="submit" name="delete" value="Delete">
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <h4>Completed</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for item in view_model.completedItems %}
          <tr name="completed-item" id="{{ item.id }}" class={{ item.displayClass }}>
            <th scope="row">{{ item.title }}</th>
            <td>
              <form action="/move/{{ item.id }}">
                <input id="move-button-{{ item.id }}" class="btn btn-primary" type="submit" name="move" value="Move">
              </form>
            </td>
            <td>
              <form action="/delete/{{ item.id }}">
                <input id="delete-button-{{ item.id }}" class="btn btn-danger" type="submit" name="delete" value="Delete">
              </form>
            </td>

          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <form method="post">
      <p>Title: <input type="text" id='title' name='title' required></p>
      <div>
        <input type="submit" id='submit-button' name="submit" value="Submit">
      </div>
    </form>
  </div>
{% endblock %}